.following {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 0%;
  padding-right: 35%;
  padding-bottom: 5%;
  padding-left: 35%;
  }

  .users {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 0%;
    padding-right: 25%;
    padding-bottom: 5%;
    padding-left: 25%;
  }

  span {
    cursor:pointer;
    color:darkblue;
    /* text-decoration:underline; */
    text-shadow: .5px .5px .5px #550;
}

span:hover {
    text-decoration:none;
    text-shadow: 1px 1px 1px rgb(190, 190, 186);
}

* {
  box-sizing: border-box;
}

/* Style the search field */
.search {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}



/* Clear floats */
.search::after {
  content: "";
  clear: both;
  display: table;
}

/* 
input[type=text] {
  width: 330px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
} */

/* When the input field gets focus, change its width to 100% */
/* input[type=text]:focus {
  width: 100%;
} */

.search-bar {
  padding: 50px;
}