.flexcontainer {
    padding-top: 5%;
    padding-right: 9%;
    padding-bottom: 5%;
    padding-left: 9%;
 }
      

  /* Add a black background color to the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
  }
  
  /* Style the links inside the navigation bar */
  
  /* Style the search box inside the navigation bar */
  .topnav input[type=text] {
    float: center;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  
  .body{
    padding-top: 5%;
    padding-right: 3%;
    padding-bottom: 5%;
    padding-left: 3%;
  }